@model List<webshop.Models.ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Products</h2>
    <h4 style="color:green;">@TempData["Message"]</h4>
    <h4>@ViewBag.Message</h4>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-3">
                <img style="width: 200px; height: 140px;" class="img-fluid" src="@Url.Content("~/Content/img/" + product.Image)" alt="@product.Name"/> <br>
                <h4>@(product.Name)</h4>
                <p>@product.Category</p> <br>
                <small class="text-center" style="color:green;">Price: $@product.Price</small> <br>
                <a class="btn btn-default" href="/product/get/@(product.Id)">More Info</a>

                <div class="form" style="display:inline-block">
                        @using (Html.BeginForm("AddProductToCart", "Cart"))
                        {
                        <input type="hidden" name="ProductId" value="@product.Id" />
                        <input type="hidden" name="ProductName" value="@product.Name" />
                        <input class="btn btn-default" type="submit" value="Add to cart" />
                        }
                </div>
            </div>
        }
    </div>
</div>