@model webshop.Models.ProductModel

@{
    ViewBag.Title = "Add a product";
}

<div class="container-fluid">
    @using (Html.BeginForm("AddProductToShop", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.LabelFor(model => model.Category)
        @Html.DropDownListFor(model => model.Category, Model.CategoryList)
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description)
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price)
        @Html.LabelFor(model => model.Image)
        <input type="file" name="Image" />
        <input type="submit" value="Add Item" class="btn btn-success" />
    }
</div>