@model List<webshop.Models.ProductModel>
@{
    ViewBag.Title = "DisplayAdminProducts";
}

<div class="text-center">
    <h2>Products in shop</h2>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-4">
                <h2>@product.Name</h2> <br />
                <img style="width: 200px; height: 140px;" class="img-fluid" src="@Url.Content("~/Content/img/" + product.Image)" alt="@product.Name" /> <br>
                <small>Price @product.Price</small> <br>
                @using (Html.BeginForm("RemoveProductFromShop", "Admin"))
                {
                    <input type="hidden" name="Id" value="@product.Id" />
                    <input class="btn btn-default" type="submit" name="Delete" value="Delete product" />
                }
            </div>
        }

    </div>
</div>