@model List<webshop.Models.CartModel>
@{
    ViewBag.Title = "DisplayCart";
}

<div class="text-center">
    <h2>My Cart</h2>
</div>
<h4>@ViewBag.Message</h4>
<div class="container-fluid">
    <div class="row">
        @foreach (var cart in Model)
        {
            <div class="col">
                <h4 style="display:inline-block">@cart.Name</h4>
                <h5 style="display:inline-block">@cart.Category</h5>
                <small>Price @cart.Price</small>
                <div class="form" style="display:inline-block">
                    @using (Html.BeginForm("DeleteProduct", "Cart"))
                     {
                        <input type="hidden" name="CartProductId" value="@cart.Id" />
                        <input class="btn btn-sm" type="submit" name="Delete" value="Delete product" />
                     }
                </div>
            </div>
        }
    </div>
    <a class="btn btn-default" href="/checkout/index">Checkout</a>
</div>