@model List<webshop.Models.CheckoutModel>
@{
    ViewBag.Title = "VerifyCheckout";
}

<h2>VerifyCheckout</h2>
@foreach (var MemberInfo in Model)
{
    <h5>First Name: @MemberInfo.FirstName</h5>
    <h5>Last Name: @MemberInfo.LastName</h5>
    <h5>Street: @MemberInfo.Street</h5>
    <h5>Zip Code: @MemberInfo.ZipCode</h5>
    <h5>City: @MemberInfo.City</h5>
    break;
}
@foreach (var ProductInfo in Model)
{
    <h5>Products: @ProductInfo.Name</h5>
    <h5>Category: @ProductInfo.Category</h5>
    <h5>Price: @ProductInfo.Price</h5>
}