@model List<webshop.Models.CheckoutModel>
@{
    ViewBag.Title = "VerifyCheckout";
}

<div class="text-center">
    <h2>Checkout</h2>
</div>

<h3>Products</h3>
    @foreach (var ProductInfo in Model)
    {
        <h4 style="display:inline-block">@ProductInfo.Name</h4>
        <h5 style="display:inline-block">@ProductInfo.Category</h5>
        <small>Price @ProductInfo.Price</small> <br>
    }

<h3>Shipping information</h3>
@foreach (var MemberInfo in Model)
{
    <h5><b>First Name: </b>@MemberInfo.FirstName</h5>
    <h5><b>Last Name: </b>@MemberInfo.LastName</h5>
    <h5><b>Email: </b>@MemberInfo.Email</h5>
    <h5><b>Street: </b>@MemberInfo.Street</h5>
    <h5><b>Zip Code: </b>@MemberInfo.ZipCode</h5>
    <h5><b>City: </b>@MemberInfo.City</h5>
    break;
}

<a class="btn btn-warning" style="margin-top: 40px;" href="/checkout/ordersent">Send Order</a>
